
@{
    ViewData["Title"] = "O mnie";
}
<center>
    <h1>Mam na imię Ezio Auditore da Firenze</h1>
    <h4>Jestem studentem IV semestru informatyki na WSB</h4>
    <img src="C:\Users\adam.browarski\source\repos\ProgramowanieZaawansowane_Laboratorium1\ProgramowanieZaawansowane_Laboratorium1\Views\Home\zdjecie.jpeg" alt="coś nie poszło" width="auto" height="auto"/>
</center>