@{
    ViewData["Title"] = "Strona Główna";
}

<center>
    <div class="text-center">
        <h1 class="display-4">Witaj na mojej stronie!</h1>
        <p>Nauka o <a href="https://docs.microsoft.com/aspnet/core">budowaniu aplikacji Webowych przy pomocy ASP.NET Core</a>.</p>
        <h3> Lorem Ipsum </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae sodales augue. Nam sed gravida elit. Praesent cursus elit orci, vitae pellentesque eros posuere id. Morbi nec eros tortor. Nulla a ullamcorper orci. Ut bibendum diam mauris, sit amet sollicitudin est scelerisque vel. Vestibulum et arcu sed lectus blandit blandit. Morbi fermentum accumsan efficitur. Donec porta luctus orci quis suscipit. Vestibulum sit amet diam vitae dui mollis sodales. In condimentum hendrerit quam, euismod pharetra mi eleifend nec. Sed tempor sagittis justo, quis laoreet risus venenatis consequat. Vivamus lobortis eu mi id rhoncus.</p>
    </div>

</center>